<!DOCTYPE html>
<html>
<head>
	<title>Trello</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>

   <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" >
  <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{% url 'trello-home' %}" class="">Trello</a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Board</a>
    <a class="p-2 text-dark" href="#">Members</a>
    <a class="p-2 text-dark" href="#">Support</a>
      
									{% if user.is_authenticated %}
									<span>
									<a href="{% url 'profile' %}" >Profile</a> <h7 class="text-light"> | </h7> 
									<a href="{% url 'logout' %}" >logout</a>
									</span>
									{% else %}
									<span>
                                    <a href="{% url 'login' %}" style="padding: 0px;">Sign In</a>
									<h7 class="text-light"> | </h7> 
									<a href="{% url 'register' %}" style="padding: 0px;">Sign Up</a>
									</span>
									{% endif %}
								</li>



  
  

</nav></div>



	{% block content %}



                            {% endblock %}

 <footer class="pt-4 my-md-5 pt-md-5 border-top m-5">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <h5>Trello</h5>
        <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>